{% extends "base.html" %}

{% block title %}
Añade productos al stock:
{% endblock %}

{% block main %}
   <div class="mt-5 ml-5">
      <h1>Albaran</h1>
      <h6 class="mb-4">Añade stock!</h6>
   <form method="post">
        {{ form.hidden_tag() }}
        {% for product in productos %}
        <div class="mb-2">
            <label class="blockquote">{{ product.name }}:</label>
            <input type="number" name="{{ product.id }}" value="0" min="0" step="1">
        </div>
        {% endfor %}
        <input type="submit" class="mt-4 btn btn-info" value="Añadir stock"/>
   </form>
</div>
{% endblock %}
