{% extends "base.html" %}
{% block title %}
Productos
{% endblock %}

{% block main %}
<div class="ml-5 mt-5">
    <h1>Stock</h1>
    <p class="blockquote">Keeping an eye on the products stock!</p>
    {% for producto in productos %}
    <article>
        <header>
            <p class="blockquote"><b>{{ producto.name }}:</b> {{ producto.stock }} - precio: {{ producto.price }}€</p>
        </header>
    </article>
    {% else %}
    <p>No hay posts</p>
    {% endfor %}

    <h2 class="mt-5">Add New Product</h2>
    <p class="mb-4 blockquote">Añade un nuevo producto al inventario o Introduce un producto existente e introuduce un nuevo precio</p>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-2">
                <label class="blockquote"><b>{{ form.name.label }}</b></label>
                {{ form.name }}
            </div>
            <div class="mb-2">
                <label class="blockquote"><b>{{ form.price.label }}</b></label>
                {{ form.price }}
            </div>
            <input type="submit" class="mt-4 btn btn-info" value="Añadir producto"/>
        </form>
</div>

{% endblock %}
